.signInPage {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

 .signInPageBox {
    width: 40%;
    height: 70%;
    margin-top: 100px;
    background-color: black;
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5px 0.5px 8px white;
 }

 .signInPage-title {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 550;
}

.signInPageForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.signInFormUserName {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInUserName {
    width: 60%;
    height: 45px;
    color: white;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #222222;
}

.signInBtns {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.signInBtns-form {
    padding: 10px 20px;
    border: 1px solid;
    font-weight: 500;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover {
        background-color: white;
        color:black;
}
}
