# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
youtube-clone-frontend/node_modules/

# Built files
youtube-clone-frontend/dist/
youtube-clone-frontend/dist-ssr/

# Local envs
*.local
.env
youtube-clone-frontend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
