.forgotPasswordPage {
    min-height: 100vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordBox {
    width: 400px;

    background-color: #1f1f1f;

    padding: 30px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    gap: 25px;
}

.forgotPasswordTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.forgotPasswordTitle h2 {
    margin-top: 10px;
}

.forgotPasswordInputs {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.forgotPasswordInputs input {
    padding: 12px;

    background-color: #121212;

    border: 1px solid #333;
    border-radius: 5px;

    color: white;

    outline: none;
}

.forgotPasswordInputs input:focus {
    border-color: #3ea6ff;
}

.forgotPasswordInputs button {
    padding: 12px;

    background-color: #3ea6ff;
    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.forgotPasswordInputs button:hover {
    opacity: 0.9;
}